{% extends 'wa_anwa/base.html' %}
{% block content %}
  <script type="text/javascript" src="time.js"></script>
  <p>와안와?</p>
  <p>8월 20일 오후 11시까지</p> <div id="HourCountdown"></div> <br>
</head>
<body>
<div>.</div>
<div>중구</div>
<div>오늘 9시</div>
<div>오늘 6시</div> 
<div>내일 9시</div>
<div>당신의 선택은?</div>
<ul>
  <input type='button'  onclick='count("plus")' value='와'/>
  <input type='button' value='안와'/>
</ul>
<input type="number" placeholder="배팅할 포인트"> <input type="submit">
<div>실시간 투표 상황</div><br>
<div>내 포인트</div><br>
<a href="SEOUL_SIG.html">닫기</a>
</body>
{% endblock content %}