<!DOCTYPE html> 
<html>
  <head>
    <meta charset='utf-8'>
    <title>wa_anwa</title>
    {% load static %} 
    {% load sass_tags %} 
    {% load socialaccount %}
    {% providers_media_js %}
    {% block style %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% sass_src 'wa_anwa/css/index.css' %}"
    />
    {% endblock style %}
  </head>
  {% block content %}
  <body>
    <div class="body-container">
      <div class="index_imgs_crop">
        <img class="rain_pattern" src="{% static 'wa_anwa/img/index_imgs/1_로그인_비무늬.png' %}"/>
        <img class="index_umb" src="{% static 'wa_anwa/img/index_imgs/1_로그인_우산.png' %}"/>
        <img class="index_logo" src="{% static 'wa_anwa/img/index_imgs/0_로고.png' %}"/>
      </div>
      <div id="kakao-login-button">
        <a href="{% url 'kakao-login' %}">
          <img id="kakao-button" src="{% static 'wa_anwa/img/index_imgs/1_로그인_로그인버튼.png' %}"/>
        </a>
      </div>
    </div>
  </body>
  {% endblock content %}
</html>
