{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'wa_anwa/css/mypage.css' %}"/>
{% endblock style %}

{% block content %}
<div class = 'container'>
    <div class="myPage">
        마이페이지
    </div>
    <div class="myPageModal">
        <div class = "myPageTitle">
            <img class="myPageImg" src="{{ my_user.profile_img }}" alt="프로필 사진">
            <div class = "myPageProfile">
                <p>{{my_user.username}}님</p>
                <p>와안와율{{user_hitRate}}%</p>
            </div>
        </div>
        <div class="calenderTitle">
            <p>{{month}}월 와안와 달력</p>
            <div class="calender">
                {% for day in calender %}

                
                {% endfor %}
            </div>

            <div class="calender">
                {% for week in monthcal %}
                <div class="week-date" id="month-week-date">
                    {% for date in week %}
                    {% if date.1 != 0 %}
                    {%  if date.0 == 1 %}
                    <div class = "day">
                        <p class = "dayNum">{{date.1}}일</p>
                        <p class = "emo">✅</p>
                        <p class="dayPoint">{{date.2}}점</p>
                    </div>
                    {% elif date.0 == 2 %}
                    <div class = "day">
                        <p class = "dayNum">{{date.1}}일</p>
                        <p class="emo">❌</p>
                        <p class="dayPoint">{{date.2}}</p>
                    </div>
                    {% else %}
                    <div class = "day">
                        <p class = "dayNum">{{date.1}}일</p>
                    </div>
                    {% endif %}
                    {% endif %}
                    {%endfor%}
                </div>
                {%endfor%}
            </div>
        </div>


    </div>
</div>
{% endblock content %}