{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'wa_anwa/css/ranking.css' %}"/>
{% endblock style %}
<div class = "container">
    <div class="rankingPage">랭킹페이지</div>
    <div class = "rankingModal">
        <div class = "modalTitle">
            <p>{{month}}월 와안와 랭킹</p>
        </div>
        <div class = "rankingSubtitle">
            <p>이번 달 얻은 우산 기준입니다</p>
        </div>
        <div class="rankingLists">
            <ol>
            {% for user in export_ranking %}
            <div class="rankingList">
                <p class = "rankNumber">{{user.0}}</p>
                <img class="rankImg"  src="{{user.1.profile_img}}" alt="">
                <div class = "rankmiddle">
                    <div class = "rankName">
                        <p>{{user.1.username}}</p>
                    </div>
                    <div class = "hitRate">
                        <p>와안와율{{user.3}}%</p>
                    
                    </div>
                </div>
                <div class = " rankPoint">
                    <p>+{{user.2}}점</p>
                </div>
                <img src="" alt="우산 이미지 링크">
            </div>
            {% endfor %}
            </ol>
        </div>
        <div class="myRanking">
            <div class="myRankingTitle">
                <p>나의 랭킹</p>
            </div>
            <div class="myRankingBody">
                <div class = "myRankingNum">
                    {{user_ranking_Num}}
                </div>
                <img class="rankImg"  src="{{user_ranking.profile_img}}" alt="">
                <div class = "rankmiddle">
                    <div class = "rankName">
                        <p>{{user_ranking.username}}</p>
                    </div>
                    <div class = "hitRate">
                        <p>(와안와율:{{user_HitRate}})</p>
                    </div>
                </div>
                <div class = " rankPoint">
                    <p>{{user_Point}}점</p>
                </div>
                <img src="" alt="우산 이미지 링크">
            </div>
        </div>
    </div>
    

</div>

{% endblock content %}