{% extends 'base.html' %}
{% load static %}

{% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'wa_anwa/css/ranking.css' %}"
/>
{% endblock style %}

{% block content %}
<div class = "container">
    <div class="rankingPage" id="rankingPage_title">랭킹페이지</div>
    <div class = "rankingModal">
        <div class = "modalTitle">
            <p id="month_ranking">{{month}}월 와안와 랭킹</p>
            <p id="notice">이번 달 얻은 우산 기준입니다</p>
        </div>

        <div class="rankingLists">
            <ol class="orderedlist">
            {% for user in export_ranking %}
            <div class="rankingList">
                <p class ="rankNumber" id="rankNum">{{user.0}}</p>
                <img class="rankImg"  src="{{user.1.profile_img}}" alt="프로필">
                <div class = "rankmiddle">
                    <div class = "rankName">
                        <p id="username" style="font-size:25px;">{{user.1.username}}</p>
                    </div>
                    <div class ="hitRate">
                        <p id="wa_anwaRate" style="font-size:20px">와안와율{{user.3}}%</p>
                    </div>
                </div>
                <div class = "rankPoint">
                    <p style="font-size:30px;color:red">+{{user.2}}</p>
                    <img id="umbpoint" src="{% static 'wa_anwa/img/base_imgs/우산.png' %}" alt="우산">
                </div>
            </div>
            {% endfor %}
            </ol>
        </div>
        <div class="myRanking">
            <div class="myRankingTitle">
                <p id="myRankTi">나의 랭킹</p>
            </div>
            <div class="myRankingBody">
                <div class="myRankingNum" id="rankNum">
                    {{user_ranking_Num}}
                </div>
                <img class="rankImg"  src="{{user_ranking.profile_img}}" alt="">
                <div class = "rankmiddle">
                    <div class = "rankName">
                        <p id="username" style="font-size:25px">{{user_ranking.username}}</p>
                    </div>
                    <div class = "hitRate">
                        <p id="wa_anwaRate" style="font-size:20px">와안와율:{{user_HitRate}}</p>
                    </div>
                </div>
                <div class = " rankPoint">
                    <p style="font-size:30px;color:red">+{{user_Point}}</p>
                    <img id="umbpoint" src="{% static 'wa_anwa/img/base_imgs/우산.png' %}" alt="우산">
                </div>
            </div>
        </div>
    </div>
    

</div>

{% endblock content %}