@font-face {
  font-family: 'waanwafont';
  src: url("./font/waanwafont.woff") format('woff');
}

.OUTLINE {
  stroke-linejoin:round;
  stroke: black;
  stroke-width: 2;
}
#CD11110 {
  fill: #ffffff;
}
#CD11140 {
  fill: #ffffff;
}
#CD11170 {
  fill: #ffffff;
}
#CD11200 {
  fill: #ffffff;
}
#CD11215 {
  fill: #ffffff;
}
#CD11230 {
  fill:#ffffff;
}
#CD11260 {
  fill: #ffffff;
}
#CD11290 {
  fill: #ffffff;
}
#CD11305 {
  fill: #ffffff;
}
#CD11320 {
  fill: #ffffff;
}
#CD11350 {
  fill: #ffffff;
}
#CD11380 {
  fill: #ffffff;
}
#CD11410 {
  fill: #ffffff;
}
#CD11440 {
  fill: #ffffff;
}
#CD11470 {
  fill: #ffffff;
}
#CD11500 {
  fill: #ffffff;
}
#CD11530 {
  fill: #ffffff;
}
#CD11545 {
  fill: #ffffff;
}
#CD11560 {
  fill: #ffffff;
}
#CD11590 {
  fill: #ffffff;
}
#CD11620 {
  fill: #ffffff;
}
#CD11650 {
  fill: #ffffff;
}
#CD11680 {
  fill: #ffffff;
}
#CD11710 {
  fill: #ffffff;
}
#CD11740 {
  fill: #ffffff;
}
.LINE {
  stroke-linejoin:round;
  stroke: #ffffff;
  stroke-width: 1;
  fill: none;
}
.POINT {
  stroke: #ffffff;
  stroke-width: 1;
  fill: #ffffff;
}
.TEXT {
  fill: black;
  font-size: 16px;
  text-anchor: middle;
  /* alignment-baseline: middle; */
}

#map-background {
  position: absolute;
  width: 362px;
  height: 522px;
  left: 14px;
  top: 171px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
}

#question {
  position: absolute;
  width: 300px;
  height: 157px;
  left: 26px;
  top: 40px;
  font-family: 'waanwafont';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  color: #000000;
}

#selectprovince_logo {
  position: absolute;
  width: 80px;
  height: 64.38px;
  left: 30px;
  top: 400px;
}

#selectprovince {
  position: absolute;
  width: 271px;
  height: 51px;
  left: 60px;
  top: 450px;
  font-family: 'waanwafont';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}
