@font-face {
  font-family: 'waanwafont';
  src: url("./font/waanwafont.woff") format('woff');
}

.OUTLINE {
  stroke-linejoin:round;
  stroke: black;
  stroke-width: 2;
  fill: #ffffff;
}

.LINE {
  stroke-linejoin:round;
  stroke: #ffffff;
  stroke-width: 1;
  fill: none;
}
.POINT {
  stroke: #ffffff;
  stroke-width: 1;
  fill: #ffffff;
}
.TEXT {
  fill: black;
  font-size: 16px;
  text-anchor: middle;
  /* alignment-baseline: middle; */
}

#seoulmap {
  z-index: 2;
}

#map-background {
  position: absolute;
  width: 362px;
  height: 522px;
  left: 14px;
  top: 150px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  z-index: -1;
}

#question {
  position: absolute;
  width: 300px;
  height: 157px;
  left: 26px;
  top: 40px;
  font-family: 'waanwafont';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  color: #000000;
}

#selectprovince_logo {
  position: absolute;
  width: 80px;
  height: 64.38px;
  left: 50px;
  top: 500px;
}

#selectprovince {
  position: absolute;
  width: 271px;
  height: 51px;
  left: 90px;
  top: 525px;
  font-family: 'waanwafont';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}

#modal {
  box-sizing: border-box;
  position: absolute;
  width: 344px;
  height: 504px;
  left: 20px;
  top: 180px;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #000000;
  border-radius: 40px;
}

.modal {
  display: none;
}

.modal.show {
  display: block;
}


#region-name {
  position: absolute;
  width: 150px;
  height: 20px;
  left: 30px;
  top: 0px;
  font-family: 'waanwafont';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  color: #000000;
}

#bettingmodalclose {
  font-family: 'waanwafont';
  font-size: 30px;
  position: absolute;
  width: 100px;
  height: 45.23px;
  left: 200px;
  top: 10px;
  background: rgba(75, 161, 250, 0.3);
  border-radius: 10px;
}

#forecast_text {
  position: absolute;
  width: 221px;
  height: 49px;
  left: 60px;
  top: 200px;

  font-family: 'waanwafont';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;

  color: #000000;
}

#current_waanwa {
  box-sizing: border-box;

position: absolute;
width: 293px;
height: 24px;
left: 25px;
top: 250px;

background: linear-gradient(270deg, #A5D0FD 0%, #979CA0 103.11%);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 100px;
}

#waanwa_drop {
  position: absolute;
width: 30px;
height: 30px;
left: 10px;
top: 0px;
}

#yourselect {
  position: absolute;
width: 221px;
height: 58.33px;
left: 60px;
top: 300px;

font-family: 'waanwafont';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #000000;
}

#inputdiv {
  position: absolute;
  width: 221px;
  height: 58.33px;
  left: 100px;
  top: 400px;
}

#submitbutton {
  box-sizing: border-box;

position: absolute;
width: 80px;
height: 40px;
left: 125px;
top: 450px;

background: rgba(248, 240, 76, 0.5);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 20px;
}

#amorpm {
  position: absolute;
  width: 213px;
  height: 65px;
  left: 120px;
  top: 80px;

  font-family: 'waanwafont';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  text-align: center;

  color: #000000;
}

#HourCountdown {
  position: absolute;
  width: 271px;
  height: 51px;
  left: 50px;
  top: 600px;
  font-family: 'waanwafont';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  color: #000000;
}