@font-face {
  font-family: 'waanwafont';
  src: url("./font/waanwafont.woff") format('woff');
}

#container {
  position: absolute;
  width: 298px;
  height: 157px;
  left: 46px;
  top: 100px;
  
  font-family: 'Nanum SeACe';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 69px;
  text-align: center;
  text-decoration-line: underline;
  
  color: #000000;
}